@import "./assets/theme/variables";

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: Arial;
}

.el-input {
    margin-bottom: 10px;
}

.el-button {
    margin: 20px;
}

.note {
    color: $darkGray;
    font-style: italic;
    margin: 10px;
}
